/*
Colore default: fa0
Colore mio: 008C00
 */
* {
    font-family: 'Nunito', sans-serif;;
    box-sizing: border-box;
    margin: .5em 0
}

@media(min-width:35em) {
    .col {
        display: table-cell
    }

    .\31 {
        width: 5%
    }

    .\33 {
        width: 22%
    }

    .\34 {
        width: 30%
    }

    .\35 {
        width: 40%
    }

    .\32 {
        width: 15%
    }

    .row {
        display: table;
        border-spacing: 1em 0
    }
}

.row, .w-100 {
    width: 100%
}

.w-50 {
    width: 49%
}

.card:focus, hr {
    outline: 0;
    border: solid #87E0CC
}

.card, pre {
    padding: 1em;
    border: solid #eee
}

.btn:hover, a:hover {
    opacity: .6
}

.c {
    max-width: 75em;
    padding: 1em;
    margin: auto;
    font: 1em/1.6 nunito
}

h6 {
    font: 300 1em nunito
}

h5 {
    font: 300 1.2em nunito
}

h3 {
    font: 300 2em nunito
}

h4 {
    font: 300 1.5em nunito
}

h2 {
    font: 300 2.2em nunito
}

h1 {
    font: 300 2.5em nunito
}

a {
    color: #87E0CC;
    text-decoration: none
}

.btn.primary {
    color: #fff;
    background: #87E0CC;
    border: solid #87E0CC
}

.btn.primary:disabled {
    background: #3a3a3a;
    border: solid #3a3a3a;
}

pre {
    overflow: auto
}

td, th {
    padding: 1em;
    text-align: left;
    border-bottom: solid #eee
}

.btn {
    padding: 1em;
    letter-spacing: .1em;
    text-transform: uppercase;
    background: #fff;
    border: solid;
    font: .7em nunito
}